      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="http://www.captainaruto.com/images/tomes/fr/2.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Premier tome de naruto</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <small class="text-muted">35 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://www.db-z.com/wp-content/uploads/2023/02/tome-20-dragon-ball-super-couverture-copie.webp" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Tome 20 de Dragon Ball Super</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <small class="text-muted">35 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://animotaku.fr/wp-content/uploads/2020/07/Blue-period-manga-france-scaled.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Premier tome de Blue Period</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <small class="text-muted">35 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://img1.ak.crunchyroll.com/i/spire3/b82fed71a1151a3a5767e132d86d81c11535562869_full.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Premier tome de Elden Zero</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <small class="text-muted">35 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://img.over-blog-kiwi.com/2/07/86/73/20170927/ob_d3300a_21687463-2407789769445208-523002926631.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Tome 84 de One Piece</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <small class="text-muted">35 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://dragonballsuper-france.fr/wp-content/uploads/2021/12/dragon-ball-super-tome-16-france.jpeg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Tome 16 de Dragon Ball Super</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <small class="text-muted">35 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>